@keyframes movedown {
    from {
        top: -10%;
    }

    to {
        top: 100%;
    }
}

.flake {
    pointer-events: none;
    position: fixed;
    z-index: 10000;
    animation-duration: 15s;
    animation-name: movedown;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
    user-select: none;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.content {
    max-width: 700px;
    margin: auto;
}

.header {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 20px;
    display: flex;
}

.day {
    margin-left: auto;
}

* {
    box-sizing: border-box;
}

#in {
    resize: none;
    width: 100%;
}
